footer {
  background-color: #0956b4;;
  padding: 100px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #f3f3f7;
  font-weight: 800;
  font-style: italic;
  background-color: #283250;
  border-radius: 15px;
  text-align: center;
  
}
footer .img {
  background-color: #283250;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
  
  
}
footer .img span {
  margin-top: 5px;
  
}
footer p {
  font-size: 14px;
  font-weight: 300;

  margin-bottom: 20px;
  
}
footer h2 {
  margin-bottom: 20px;
  background-color: #283250;
  text-align: center;
  border-radius: 15px;

}
footer li {
  margin-bottom: 10px;
  text-align: center;
  
}
